<div class="off-canvas position-left" id="mobileMenuSidebar" data-transition="overlap">
  <ul class="vertical menu accordion-menu mobile-menu" data-accordion-menu data-submenu-toggle="true">
    {% if settings.show_mobile_sidebar_search %}
      <li class="mobile-search">
        {% include 'search-bar' %}
      </li>
    {% endif %}

    {% assign mobile_menu_id = settings.mobile_menu %}
    {% if mobile_menu_id != blank %}
      {% for link in linklists[mobile_menu_id].links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <li class="{% if link.active %} __active{% endif %}">
            <a href="{{ link.url }}">{{ link.title }}</a>
            <ul class="menu vertical nested">
              {% for childlink in linklists[child_list_handle].links %}
                {% assign grand_child_list_handle = childlink.title | handleize %}

                {% if linklists[grand_child_list_handle].links != blank %}
                  <li class="{% if link.active %} __active{% endif %} has-grandchild">
                    <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                    <ul class="menu vertical nested">
                      {% for grand_childlink in linklists[grand_child_list_handle].links %}
                        <li class="{% if link.active %} __active{% endif %}">
                          <a href="{{ grand_childlink.url }}">{{ grand_childlink.title | escape }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li class="{% if link.active %} __active{% endif %}">
                    <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="{% if link.active %} __active{% endif %}">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if shop.customer_accounts_enabled and settings.account_link %}
      <li class="{% if template == 'customers/account' or template == 'customers/login' %} mobile-menu__active{% endif %}">
      {% if customer %}
        <a class="mobile-menu__link" href="/account">{{ 'layout.customer.account' | t }}</a>
      {% else %}
        <a class="mobile-menu__link" href="/account/login">{{ 'layout.customer.account' | t }}</a>
      {% endif %}
      </li>
    {% endif %}
  </ul>

  {% if settings.show_mobile_sidebar_social %}
    <div class="mobile-social">
      {% include 'social-media-links' %}
    </div>
  {% endif %}
</div>
