<!-- snippets/onboarding-empty-collection.liquid -->
<div class="row">
  <div class="columns helper-section">
    <div class="helper-note">
      <span class="helper-icon"></span>
      <h3>{{ 'collections.onboarding.modal_title' | t }}</h3>
      <p>{{ 'collections.onboarding.no_products_html' | t }}</p>
      <p><a href="/admin/products/new" class="admin-btn-primary">{{ 'collections.onboarding.add_product' | t }}</a></p>
    </div>

    <div class="row small-up-1 medium-up-4 large-up-4 helper-content">
      {% assign index = 1 %}
      {% for i in (1..8) %}
        {% case i %}
          {% when 7 %}
            {% assign index = 1 %}
          {% when 8 %}
            {% assign index = 2 %}
        {% endcase %}
        <div class="column product-loop-item">
          <a href="/admin/products" class="product-loop-image">
            {% capture imageUrl %}//cdn.shopify.com/s/images/themes/product-{{ index }}.png{% endcapture %}
            {{ imageUrl | img_tag }}
          </a>
          <a class="product-loop-title" href="/admin/products">{{ 'homepage.onboarding.product_title' | t }}</a>
          <a href="/admin/products" class="product-loop-price"><span>$19.99</span></a>
        </div>
        {% assign index = index | plus: 1 %}
      {% endfor %}
    </div>
  </div>
</div>
