{% case snippet_instance.settings.text_width %}
  {% when '1' %}
    {% assign text_layout = 'medium-12 large-12 medium-centered large-centered columns' %}
  {% when '1-2' %}
    {% assign text_layout = 'medium-6 large-6 medium-centered large-centered columns' %}
  {% when '1-3' %}
    {% assign text_layout = 'medium-4 large-4 medium-centered large-centered columns' %}
  {% when '2-3' %}
    {% assign text_layout = 'medium-8 large-8 medium-centered large-centered columns' %}
  {% when '3-4' %}
    {% assign text_layout = 'medium-9 large-9 medium-centered large-centered columns' %}
{% endcase %}

<div id="content-{{ content_id }}" class="row content-section__inner {% if snippet_instance.settings.mobile_centered %}text-centered_mobile {% endif %}">
  <div class="{{ text_layout }} text__content {% if snippet_instance.settings.desktop_centered %}text-centered_desktop{% endif %} js-animate-appear-show">
    {% unless snippet_instance.settings.title == blank %}
      <h2 class="section-title section__title-style">
        {{ snippet_instance.settings.title | escape }}
      </h2>
    {% endunless %}
    {% unless snippet_instance.settings.text == blank %}
      <div class="rte text__text section__text-style">
        {{ snippet_instance.settings.text }}
      </div>
    {% endunless %}
    {% if snippet_instance.blocks.size > 0 %}
      <div class="text-section__btns">
        {% for block in snippet_instance.blocks %}
          {% if block.settings.btn_link != blank %}
            {% assign btn_id = block.id %}
            {% include 'button-style', button_id: btn_id, btn_bg_color: block.settings.btn_bg_color, btn_style: block.settings.btn_style, btn_text_color: block.settings.btn_text_color %}
            <a id="button-{{ btn_id }}" {{ block.shopify_attributes }} href="{{ block.settings.btn_link }}" class="button {% if snippet_instance.settings.btn_style2 == 'hollow' %}hollow{% endif %}" style="{{ btn_style_css | strip_newlines }}">{{ block.settings.btn_text }}</a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
