<!-- /snippets/social-sharing.liquid -->
<div class="social-sharing">
  {% if settings.share_on_facebook %}
    <a target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}" class="share-button share-facebook" title="{{ 'general.social.share_on_facebook_alt' | t }}">
      <i class="icon icon-facebook"></i>
      <span class="share-title" aria-hidden="true">{{ 'general.social.share_on_facebook' | t }}</span>
      <span class="visually-hidden">{{ 'general.social.share_on_facebook_alt' | t }}</span>
    </a>
  {% endif %}

  {% if settings.share_twitter %}
    <a target="_blank" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}" class="share-button share-twitter" title="{{ 'general.social.share_on_twitter_alt' | t }}">
      <i class="icon icon-twitter"></i>
      <span class="share-title" aria-hidden="true">{{ 'general.social.share_on_twitter' | t }}</span>
      <span class="visually-hidden">{{ 'general.social.share_on_twitter_alt' | t }}</span>
    </a>
  {% endif %}

  {% if settings.share_pinterest %}
    <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}" class="share-button share-pinterest" title="{{ 'general.social.share_on_pinterest_alt' | t }}">
      <i class="icon icon-pinterest"></i>
      <span class="share-title" aria-hidden="true">{{ 'general.social.share_on_pinterest' | t }}</span>
      <span class="visually-hidden">{{ 'general.social.share_on_pinterest_alt' | t }}</span>
    </a>
  {% endif %}

  {% if settings.share_google %}
    <a target="_blank" href="//plus.google.com/share?url={{ shop.url | append: share_permalink }}" class="share-button share-google" title="{{ 'general.social.share_on_google_plus_alt' | t }}">
      <i class="icon icon-google-plus-g"></i>
      <span class="share-title">+1</span>
      <span class="visually-hidden">{{ 'general.social.share_on_google_plus_alt' | t }}</span>
    </a>
  {% endif %}
</div>
