{% case snippet_instance.settings.video_width %}
  {% when '1' %}
    {% assign video_layout = 'medium-12 large-12 medium-centered large-centered columns' %}
  {% when '1-2' %}
    {% assign video_layout = 'medium-6 large-6 medium-centered large-centered columns' %}
  {% when '1-3' %}
    {% assign video_layout = 'medium-4 large-4 medium-centered large-centered columns' %}
  {% when '2-3' %}
    {% assign video_layout = 'medium-8 large-8 medium-centered large-centered columns' %}
  {% when '3-4' %}
    {% assign video_layout = 'medium-9 large-9 medium-centered large-centered columns' %}
{% endcase %}

<div class="content-section__inner row js-animate-appear-show">
  <div class="{{ video_layout }}">
    {% unless snippet_instance.settings.title == blank %}
      <div class="row text-{{ snippet_instance.settings.title_alignment }}">
        <h2 class="columns section-title section__title-style">{{ snippet_instance.settings.title }}</h2>
      </div>
    {% endunless %}

    {% if snippet_instance.settings.video_url != blank %}
      <div class="video__container">
        {% if snippet_instance.settings.cover_image == blank %}
          <div class="video__cover" style="background-image: url('https://img.youtube.com/vi/{{ snippet_instance.settings.video_url.id }}/maxresdefault.jpg');">
        {% else %}
          <div class="video__cover lazyload"
          {% if snippet_instance.settings.cover_image  %}
            data-bgset="{% include 'bgset', image: snippet_instance.settings.cover_image %}"
            data-sizes="auto"
            data-parent-fit="cover"
          {% endif %}>
        {% endif %}
          <button class="video__play-button"><i class="icon icon-play-circle-empty"></i> </button>
        </div>
        <div id="video-{{ snippet_instance.id }}" class="video__iframe" data-id="{{ snippet_instance.settings.video_url.id }}"></div>
      </div>
    {% endif %}
  </div>
</div>
